#letter-g {
    font-family: "Poppins";
    font-size: 8em;
    color: #FFFFFF;
    transform: scaleY(1.3);
    position: absolute;
    left: 1em;
    top: 3em;
    margin: 0;
}

#letter-e1 {
    font-family: "Poppins";
    font-size: 8em;
    color: #FFFFFF;
    position: absolute;
    transform: scaleY(1.3);
    left: 3em;
    top: 1em;
    margin: 0;
}

#letter-n {
    font-family: "Poppins";
    font-size: 8em;
    color: #FFFFFF;
    position: absolute;
    transform: scaleY(1.3);
    left: 4.2em;
    top: 4em;
    margin: 0;
}

#letter-d {
    font-family: "Poppins";
    font-size: 8em;
    color: #FFFFFF;
    position: absolute;
    transform: scaleY(1.3);
    left: 6.5em;
    top: 1.4em;
    margin: 0;
}

#letter-e2 {
    font-family: "Poppins";
    font-size: 8em;
    color: #FFFFFF;
    position: absolute;
    transform: scaleY(1.3);
    left: 8em;
    top: 3.5em;
    margin: 0;
}

#letter-r {
    font-family: "Poppins";
    font-size: 8em;
    color: #FFFFFF;
    position: absolute;
    transform: scaleY(1.3);
    left: 9.5em;
    top: 0.8em;
    margin: 0;
}